lab03/ConsoleApplication1/ConsoleApplication1/Service References/Cosmos/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61555/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" />
  <xs:element name="InitializeGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" minOccurs="0" name="starship" nillable="true" type="q1:Starship" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" minOccurs="0" name="SendStarshipResult" nillable="true" type="q2:Starship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" minOccurs="0" name="GetSystemResult" nillable="true" type="q3:SpaceSystem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" minOccurs="0" name="GetStarshipResult" nillable="true" type="q4:Starship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>