lab03/ConsoleApplication1/ConsoleApplication1/Service References/Cosmos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CosmicAdventureDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Starship">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crew" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="Gold" type="xs:int" />
      <xs:element minOccurs="0" name="ShipPower" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Starship" nillable="true" type="tns:Starship" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:float" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nick" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="SpaceSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseDistance" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpaceSystem" nillable="true" type="tns:SpaceSystem" />
</xs:schema>