lab02/SpaceClient/Service References/ServiceReference1/Space2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9009/Space?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Space" />
  <xs:element name="PullStarship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Space" minOccurs="0" name="ship" nillable="true" type="q1:Starship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullStarshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Space" minOccurs="0" name="PullStarshipResult" nillable="true" type="q2:Starship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimateAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimateAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UltimateAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>